<div class="row">
    <div class="col-sm-12" style="padding-bottom: 1rem" id="vod_class_manage">
        <button type="button" class="btn btn-primary" name="classAdd">添加</button>
        <button type="button" class="btn btn-primary" name="classDel">删除</button>
        <button type="button" class="btn btn-primary" name="classEdit">编辑</button>
    </div>
    <div class="col-sm-10">
        <div id="vod_class_tree"></div>
    </div>
</div>

<script>
//# sourceURL=tset.js
$(function () {
    var $tree = $('#vod_class_tree');
    //-------------------分类初始化-----------
    $('#vod_class_tree').treeview({
        url:"{{ path('admin_class_data') }}",
//        data: getTree(),
        onEditNode:function(event,node){
            var text = $('li[data-nodeid='+node.nodeId+']').find("input").val();
            data = {"text":text,'nodeId':node.nodeId};
            $.post("{{ path('admin_class_edit') }}",data,function (re) {
                if(!re.status)
                {
                    $tree.treeview('saveNew',[re,true]);
                }else{
                    $.mywind('alert',{title:"错误提示", message: re.msg});
                }
            },'json');

        },
        onSaveNode:function(event,node){
            var $input = $('li[data-nodeid='+node.nodeId+']').find('input');
            if($.trim($input.val())=="") {$.mywind('alert',{ message: "请填写完整" });return;}
            data = {
                text:$input.val(),
                isParent:node.isParent?1:0,
                parentId:node.parentId
            };

            $.post('{{ path('admin_class_add') }}',data,function(re){
                if(!re.status){
                    $tree.treeview('saveNew',re);
                    $.mywind('alert',{ message: "成功", btnok: "确定"});
                }else{
                    $.mywind('alert',{ title:"错误提示",message: re.msg, btnok: "确定"});
                }
            },'json');
        },
        onConcelNode:function(event,node){
            $.mywind('confirm',{
                message: "不保存信息?",
                ok:function(){
                    $tree.treeview('removeNode',node.nodeId);return true;
                }
            });
        }
    });
    $("#vod_class_manage").find('button[name="classAdd"]').on('click',function () {
        $tree.treeview('addTreeNode');
    });
    $("#vod_class_manage").find('button[name="classDel"]').on('click',function () {
        var _editeNode =  $tree.treeview('getNode',-2);
        if(_editeNode.nodeId == -2){
            $.mywind('alert',{ message: "请先编辑完成节点再删除"});
            return;
        }
        var node = $tree.treeview('getSelected');
        if($.isEmptyObject(node)){
            $.mywind('alert',{ message: "请选择节点"});
            return;
        }
        node = node[0];
        if(node.nodeId == 0)
        {
            $.mywind('alert',{ message: "不能删除全部"});
            return;
        }
        if(!$.isEmptyObject(node.nodes))
        {
            $.mywind('alert',{ message: "请先删除子类,再删除父类"});
            return;
        }
        data ={"nodeId":node.nodeId};

        $.mywind('confirm',{
            message: "确定移除分类?",
            ok:function(){
                $.post("{{ path('admin_class_delete') }}",data,function (re) {
                    if(!re.status){
                        $tree.treeview('removeNode',node.nodeId)
                    }else{
                        $.mywind('alert',{title: "错误提示", message: re.msg});
                    }
                },'json')
            }
        });
        return;



    });
    $("#vod_class_manage").find('button[name="classEdit"]').on('click',function () {
        $tree.treeview('editTreeNode');
    });
});
</script>