<div class="row">
    <div class="col-sm-12" style="padding-bottom: 1rem">
        <button type="button" class="btn btn-primary">添加</button>
        <button type="button" class="btn btn-primary">删除</button>
    </div>
    <div class="col-sm-10">
        <div id="tree"></div>
    </div>

</div>

<script>
//# sourceURL=tset.js
    $(function () {
        function getTree() {
            // Some logic to retrieve, or generate tree structure
            var tree = [
                {
                    text: "Parent 1",
                    isParent:true,
                    parentId:0,
                    nodeId:1,
                    nodes: [
                        {
                            text: "Child 1",
                            isParent:true,
                            parentId:1,
                            nodeId:2,
                            nodes: [
                                {
                                    text: "Grandchild 1",
                                    isParent:false,
                                    nodeId:3,
                                    parentId:2
                                },
                                {
                                    text: "Grandchild 2",
                                    isParent:false,
                                    nodeId:4,
                                    parentId:2
                                }
                            ]
                        },
                        {
                            text: "Child 2",
                            isParent:false,
                            nodeId:5,
                            parentId:1
                        }
                    ]
                },
                {
                    text: "Parent 2",
                    isParent:false,
                    nodeId:6,
                    parentId:0
                },
                {
                    text: "Parent 3",
                    isParent:false,
                    nodeId:7,
                    parentId:0
                },
                {
                    text: "Parent 4",
                    isParent:true,
                    nodeId:8,
                    parentId:0,
                    nodes: []
                },
                {
                    text: "Parent 5",
                    isParent:false,
                    nodeId:9,
                    parentId:0
                }
            ];
            tree = [{nodes: tree,parentId:-1,nodeId:0,isParent:true,text:"全部" }];
            return tree;
        }

        $('#tree').treeview({
            data: getTree(),
            onSaveNode:function(event,node){
//                var parent = this.getNode(node.nodeId);
                var $input = $('li[data-nodeid='+node.nodeId+']').find('input');
                if($.trim($input.val())=="")
                {
                    alert("请填写完整");
                    return;
                }
                data = {};
                $.post('{{ path('admin_class_add') }}',data,function(re){
                        if(re.status){
                            $.mywind('alert',{
                                title: "操作提示",
                                message: "成功",
                                btnok: "确定",
                                width: 200,
                                auto: false,
                            });
                        }
                },'json');
            },
            onConcelNode:function(event,node){
//                var parent = this.getNode(node.nodeId);
                $.mywind('confirm',{
                    title: "操作提示",
                    message: "提示内容",
                    btnok: "确定",
                    btncl: "取消",
                    width: 200,
                    auto: false,
                    ok:function(){
                        $('li[data-nodeid='+node.nodeId+']').remove();
                        return true;
                    }
                });


            },
            onNodeCollapsed:function(event,node){

            }
        });
    });
</script>