{% extends "@App/admin_list.ajax.twig" %}

    {% block table_form %}
        <div class="row">
            <div class="col-sm-8">
                <form class="be-form-inline form-inline" id="toolbar">
                    <div class="form-group">
                        <label class="control-label" for="admin_search_title">标题<i>*</i></label>
                        <input type="text" class="form-control" name="title" id="admin_search_title"
                               placeholder="请输入内容…" required/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="admin_search_desc">描述<i>*</i></label>
                        <input type="text" class="form-control" name="description" id="admin_search_desc"
                               placeholder="请输入内容…" required/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="admin_search_publis">是否发布<i>*</i></label>
                        <select class="form-control" name="status" id="admin_search_publis">
                            <option value="">请选择</option>
                            <option value="1">大家电</option>
                            <option value="2">手机</option>
                            <option value="3">配件</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="admin_search_cut">是否切流成功<i>*</i></label>
                        <select class="form-control" name="cuted" id="admin_search_cut">
                            <option value="">请选择</option>
                            <option value="1">大家电</option>
                            <option value="2">手机</option>
                            <option value="3">配件</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default"><i class="be-icon fa fa-search"></i> 搜索</button>
                </form>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-default" id="add_dg">默认按钮</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_dialog">添加</button>
                <!-- Modal -->
                <div class="modal fade" id="add_dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">添加视频</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">

                                    <form class="form-horizontal" method="post" action="/vod/add    " enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <!-- 必填项建议添加 required 属性 -->
                                                <div class="input-group">
                                                    <label class="be-input-group-label input-group-addon" for="add_dialog_title">标题</label>
                                                    <span class="input-group-addon-text"><i>*</i></span>
                                                    <input type="text" class="form-control" name="title" id="add_dialog_title" placeholder="请输入标题…" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <label class="be-input-group-label input-group-addon" for="add_dialog_desc">简介</label>
                                                    <textarea class="form-control" name="description" id="add_dialog_desc" rows="3" placeholder="在此输入简介…" title="视频描述"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <label class="be-input-group-label input-group-addon" for="add_dialog_upload">上传视频</label>
                                                    <span class="input-group-addon-text">（文件格式限制.mp4）</span>
                                                    <div class="control-group">
                                                        <label>
                                                            <input type="file" data-toggle="upload" name="file" id="add_dialog_upload" accept="video/mp4"  />
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" name="close">关闭</button>
                                <button type="button" class="btn btn-primary" name="save">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}
{% block table_table %}
    <table id="table">
    </table>
{% endblock %}
{% block table_script %}
    <script>
        $(function () {
            //--------------------------初始化table组件-----------------------------------------
            var $table = $('#table');
            //------------------------添加初始化组件的工具函数，如formatter 格式化等回调函数
            $.extend({
                table_util: {
                    operateFormatter: function (value, row, index) {
                        return [
                            '<span class="be-table-hidden-info">',
                            '<a href="#" class="btn btn-xs btn-link-info J_beTableAction" title="编辑">',
                            '<i class="fa fa-pencil-square-o be-icon"></i>',
                            '</a>',
                            '<a href="#" class="btn btn-xs btn-link-danger J_beTableAction" title="删除">',
                            '<i class="fa fa-trash be-icon"></i>',
                            '</a>',
                            '</span>',
                        ].join('');
                    },
                    isToCNFormatter: function (value, row, index) {
                        var f_v = ['否', '是'];
                        return f_v[parseInt($.trim(value))];
                    },
                    statusFormatter: function (value, row, index) {
                        var status = {
                            'closed': "关闭",
                            'draft': "未发布",
                            'published': "发布"
                        };
                        return status[value];
                    },

                }
            });
            //------------------------------使用json 初始化table 组件
            BE.initPlugin('bootstrapTable', $table, {
                search: false,
                height: "400",
                sidePagination: "server",
                pagination: true,
                pageSize: 15,
                pageList: [10, 25, 50, 100, 'ALL'],
                locale: "zh-CN",
                idField: "id",
                url: "/vod/list/data",
                method: "post",
                columns: [{
                    field: 'index',
                    title: '行号',
                }, {
                    field: 'title',
                    title: '标题'
                }, {
                    field: 'description',
                    title: '描述'
                }, {
                    field: 'to_hls',
                    title: '切片',
                    formatter: $.table_util.isToCNFormatter
                }, {
                    field: 'status',
                    title: '发布',
                    formatter: $.table_util.statusFormatter
                }, {
                    field: 'type',
                    title: '媒体类型'
                }, {
                    field: 'stream',
                    title: '输出流'
                }, {
                    field: 'operator',
                    title: '操作',
                    formatter: $.table_util.operateFormatter
                }]
            });
            //-----------------------------------注册标签的监听事件
                //-------------------------------model保存监听事件
            $($('#add_dialog button[name="save"]')[0]).on('click', function() {

                var form_data = $('#add_dialog form').serializeArray();
                var form_json = $.formSerializeToJSON(form_data);
                $('#add_dialog form').submit();
                $('#add_dialog').modal('hide');
            });
        });
        $('#add_dg').on('click',function (event) {
            event.preventDefault();
            $.mywind('dialog');
        })
        BE.initPlugin('upload', $("#add_dialog_upload"));
    </script>
{% endblock %}
